<form action="/prehistoric_creatures" method="post">
    <div>
        <label for="prehistoricType">Type: </label>
        <input type="text" name="type" id="prehistoricType">
    </div>

    <div>
        <label for="prehistoricImg">Image url: </label>
        <input type="text" name="img_url" id="preHistoric">
    </div>

    <button type="submit">Add a New Dino!</button>

</form>